<div class="jumbotron">
  <h1 class="display-4">Find your Friends</h1>
  <p class="lead">
    Select the page you want to visit
  </p>
  <hr class="my-4" />
  <p class="lead">
    {{#if isAdmin}}
    <a href="/friends" class="btn btn-primary btn-lg">List my Friends</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
    {{/if}}
  </p>
</div>